#!/usr/bin/env bash
[Unit]
Description=UnicornWeather
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/UnicornWeather/
ExecStartPre=/home/pi/UnicornWeather/App.py clear
ExecStart=/home/pi/UnicornWeather/App.py run
ExecStopPost=/home/pi/UnicornWeather/App.py clear
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target