#!/usr/bin/env bash
[Unit]
Description=UnicornWeather
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/UnicornWeather/
ExecStart=/home/pi/UnicornWeather/UnicornWeather.py run
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target